@model PagedList<Customers.Web.Models.Customer>

<div class="row" style="padding-top: 40px">
    <div class="col-sm-10">
        @Html.Partial("_CustomersListPartial", Model)
    </div>
    <div class="col-sm-2">
        @*<div style="background-color: darkgrey">
            @Html.ActionLink("Create customer", "Create", null, new { @class = "btn btn-default btn" })
            @Html.LabelFor(model => model.Stats)
            @Html.Raw("Total items")
            @Html.DisplayFor(model => model.Stats)
            @Html.Partial("_SearchPartial", Model)
        </div>*@
        <div class="stats">
            <div class="btn-group btn-group-sm">
                <div class="row">
                    @Html.ActionLink("Create customer", "Create", null, new { @class = "btn btn-default btn" })
                </div>
                <div class="row" style="background-color: #f7f7fa; height: 10px">
                    &nbsp;
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.Stats)
                </div>
                <div class="row" style="color: black; padding-right: 15px;">
                    <div class="col-md-9">
                        @Html.Raw("Total items")
                    </div>
                    <div class="col-md">
                        @Html.DisplayFor(model => model.Stats)
                    </div>
                </div>
                <div class="row" style="background-color: #f7f7fa; height: 10px">
                    &nbsp;
                </div>
                <div class="row">
                    @Html.Partial("_SearchPartial", Model)
                </div>
            </div>
        </div>
    </div>
</div>