@model PagedList<Customers.Web.Models.Customer>

<table class="table">
    <tr>
        <th>
            @Html.CheckBoxFor(p => p.SelectAll, new {id = "selectAll"})
        </th>
        <th>
            @Ajax.ActionLink(Html.DisplayNameFor(p => p.FirstOrDefault().Login).ToHtmlString(),
                "Index",
                new {sortOrder = ViewBag.LoginSortParm},
                new AjaxOptions
                {
                    UpdateTargetId = "customersList",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET"
                })
        </th>
        <th>
            @Ajax.ActionLink(Html.DisplayNameFor(p => p.FirstOrDefault().FullName).ToHtmlString(),
                "Index",
                new {sortOrder = ViewBag.NameSortParm},
                new AjaxOptions
                {
                    UpdateTargetId = "customersList",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET"
                })
        </th>
        <th>
            @Ajax.ActionLink(Html.DisplayNameFor(p => p.FirstOrDefault().Email).ToHtmlString(),
                "Index",
                new {sortOrder = ViewBag.EmailSortParm},
                new AjaxOptions
                {
                    UpdateTargetId = "customersList",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET"
                })
        </th>
        <th>
            @Ajax.ActionLink(Html.DisplayNameFor(p => p.FirstOrDefault().PhoneNumber).ToHtmlString(),
                "Index",
                new {sortOrder = ViewBag.PhoneSortParm},
                new AjaxOptions
                {
                    UpdateTargetId = "customersList",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET"
                })
        </th>
        <th>
            @Html.DisplayNameFor(p => p.FirstOrDefault().IsActive)
        </th>
        <th>
            Edit/Delete
        </th>
    </tr>

    <tbody>
    @foreach (var item in Model)
    {
        var emailTo = $"mailto:{item.Email}";
        <tr>
            <td>
                <div id="checkboxes">
                    @Html.CheckBoxFor(modelItem => item.IsChecked)
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                <a href='@emailTo'>
                    @Html.DisplayFor(modelItem => item.Email)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <label style="align-content: center; margin-bottom: 0;">
                    @if (item.IsActive)
                    {
                        <img src="/Images/active_green.png"/>
                    }
                    else
                    {
                        <img src="/Images/inactive_red.png"/>
                    }
                </label>
            </td>
            <td>
                @Html.ActionLink(" ",
                    "Edit",
                    new {id = item.Id, sortOrder = ViewBag.CurrentSort },
                    new
                    {
                        @class = "editItem",
                    })

                @Ajax.ActionLink(" ",
                    "Delete",
                    new {id = item.Id, sortOrder = ViewBag.CurrentSort },
                    new AjaxOptions
                    {
                        Confirm = "Are you sure you want to delete this customer?",
                        UpdateTargetId = "customersList",
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "DELETE"
                    },
                    new
                    {
                        @class = "deleteItem"
                    })
            </td>
        </tr>
    }
    </tbody>
</table>