@using Customers.Web.Models
@model PagedList<Customer>

@{
    ViewBag.Title = "Customers";
}

<div class="customersArea" style="padding-top: 40px">
    <div class="row">
        <div class="col-sm-10">
            @Html.Partial("_CustomersListPartial", Model)
        </div>
        <div class="col-sm-2">
            <div class="stats">
                <div class="btn-group btn-group-sm">
                    <div class="row">
                        @if (Request.IsAuthenticated && (User.IsInRole(RoleNames.Administrator) || User.IsInRole(RoleNames.Manager)))
                        {
                            @Html.ActionLink("Create customer", "Create", null, new { @class = "btn btn-default btn" })
                        }
                    </div>
                    <div class="row" style="background-color: #f7f7fa; height: 10px">
                        &nbsp;
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.Stats)
                    </div>
                    <div class="row" style="color: black; padding-right: 15px;">
                        <div class="col-md-9">
                            @Html.Raw("Total items")
                        </div>
                        <div class="col-md">
                            @Html.DisplayFor(model => model.Stats)
                        </div>
                    </div>
                    <div class="row" style="background-color: #f7f7fa; height: 10px">
                        &nbsp;
                    </div>
                    <div class="row">
                        @Html.Partial("_SearchPartial", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


